.contact {
  display: flex;
  align-items: center;

  &Icon {
    margin-right: 27px;
  }
}

.contacts {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

