.contact {
  display: flex;
  align-items: center;
  font-size: 16px;
  align-items: inherit;

  @media (max-width: 640px) {
    font-size: 12px;
    flex-direction: column;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &Icon {
    margin-top: 5px;
    margin-right: 27px;

    @media (max-width: 640px) {
      margin-right: 0;
    }
  }
}

.contacts {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: var(--font-poppins);
}

