.card {
  background-color: #fff;
  width: 100%;
  height: 667px;
  max-width: 1196px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.cardForm {
  padding: 50px;
  width: 100%;
}

.userContacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 595px;
  height: 172px;
  gap: 40px;
}