.footer {
  background-color: #000;
  padding: 80px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: var(--font-poppins);

  &Logo {
    filter: invert(1);
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
    margin-bottom: 25px;
  }

  &Subtitle {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &Content {

  }
}