.inputField {
  width: 100%;
  position: relative;
  height: 55px;
  display: flex;
  align-items: flex-end;

  &Input {
    width: 100%;
    font-size: 14px;
    font-family: var(--font-poppins);
    border: 0;
    border-bottom: 1px solid #8D8D8D;
    color: #8D8D8D;
    outline: none;
    padding: 10px 3px;

    &:focus {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }

  &Label {
    font-size: 12px;
    color: #8D8D8D;
    position: absolute;
    top: 0;
    left: 1px;

    .inputFieldInput:focus+& {
      color: #000;
    }
  }
}

.selectField {
  &Title {
    font-size: 14px;
    margin-bottom: 14px;
  }

  &Options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px
  }
}

.radioInput {
  &Label {
    display: flex;
    align-items: center;
  }

  &Wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &Input, &Check {
    display: none;
  }

  &Input:checked+&Check {
    display: block;
  }

  &Text {
    font-size: 12px;
  }
}
