.nav {
  z-index: 1001;
  position: absolute;
  padding: 40px 100px;
  background-color: #FBFBFB;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    padding: 20px 30px;
  }

  &Links {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 60%;
    justify-content: space-between;
  
    @media (max-width: 800px) {
      max-width: 100%;
    }

    @media (max-width: 640px) {
      display: none;

      &Show {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #fff;
        align-items: stretch;
        padding: 30px 23px;
      }
    }
  }

  &Logo {
    margin-right: 15px;
  }

  &Elements {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 5%;

    &Show {
      flex-direction: column;
    }
  
    & > *:not(:last-child) {
      margin-right: 10px;

      @media (max-width: 640px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &User {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 98px;
    flex-grow: 4;
    align-self: center;

    @media (max-width: 640px) {
      width: 98px;
    }
  
    & > *:not(:last-child) {
      margin-right: 10px;
    }

    &Icon {
      height: 32px;
    }
  }

  &Menu {
    display: none;

    @media (max-width: 640px) {
      display: block;
    }
  }

  &Show {
    filter: invert(1);
  }
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  white-space: nowrap;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;

  &List {
    position: absolute;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    left: 0;
    top: 25px;

    @media (max-width: 640px) {
      position: relative;
      top: 0;
    }

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &Chev {
    margin-left: 8px;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}