.nav {
  z-index: 1001;
  position: absolute;
  padding: 40px 100px;
  background-color: #FBFBFB;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    padding: 20px 30px;
  }

  &Links {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 60%;
    justify-content: space-between;
  
    @media (max-width: 800px) {
      max-width: 100%;
    }
  }

  &Logo {
    margin-right: 15px;
  }

  &Elements {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
  
    & > * {
      margin-right: 10px;
    }
  }

  &User {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 98px;
    flex-grow: 4;
  
    & > *:not(:last-child) {
      margin-right: 10px;
    }

    &Icon {
      height: 32px;
    }
  }
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.dropdown {
  position: relative;
  cursor: pointer;

  &List {
    position: absolute;
    list-style: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    left: 0;
    top: 25px;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &Chev {
    margin-left: 8px;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}